@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 16% 93%;
    --foreground: 0 0% 11%;
    --card: 40 14% 98%;
    --card-foreground: 0 0% 11%;
    --popover: 40 14% 98%;
    --popover-foreground: 0 0% 11%;
    --primary: 24 84% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 38% 83%;
    --secondary-foreground: 0 0% 11%;
    --muted: 37 8% 82%;
    --muted-foreground: 30 4% 54%;
    --accent: 27 18% 78%;
    --accent-foreground: 0 0% 11%;
    --destructive: 6 72% 55%;
    --border: 36 7% 86%;
    --input: 36 7% 86%;
    --ring: 24 84% 42%;
    --radius: 0.875rem;
    --chart-1: 24 84% 42%;
    --chart-2: 20 38% 83%;
    --chart-3: 49 100% 48%;
    --chart-4: 6 72% 55%;
    --chart-5: 30 4% 54%;
  }

  .dark:root {
    --background: 32 12% 12%;
    --foreground: 32 18% 92%;
    --card: 30 10% 16%;
    --card-foreground: 32 18% 92%;
    --popover: 30 10% 16%;
    --popover-foreground: 32 18% 92%;
    --primary: 27 78% 58%;
    --primary-foreground: 24 18% 12%;
    --secondary: 29 9% 22%;
    --secondary-foreground: 32 18% 92%;
    --muted: 28 8% 24%;
    --muted-foreground: 31 10% 72%;
    --accent: 30 10% 24%;
    --accent-foreground: 32 18% 92%;
    --destructive: 5 65% 56%;
    --border: 30 7% 28%;
    --input: 30 7% 28%;
    --ring: 27 78% 58%;
    --chart-1: 27 78% 58%;
    --chart-2: 30 20% 62%;
    --chart-3: 45 80% 60%;
    --chart-4: 8 72% 60%;
    --chart-5: 30 10% 72%;
  }
}
